! special
*.foreground:   #f8f8f3
*.background:   #272822
*.cursorColor:  #f8f8f3

! black
*.color0:       #000000
*.color8:       #555555

! red
*.color1:       #f92672
*.color9:       #dd4278

! green
*.color2:       #74e22e
*.color10:      #9dc54b

! yellow
*.color3:       #e6db74
*.color11:      #d1ca89

! blue
*.color4:       #66d9ef
*.color12:      #7accda

! magenta
*.color5:       #ae81ff
*.color13:      #b392ef

! cyan
*.color6:       #00d9d9
*.color14:      #c8f0f0

! white
*.color7:       #f5deb3
*.color15:      #ffffff


*faceName: Inconsolata
*faceSize: 14


XTerm*termName: xterm-256color
