! --- special colors ---

*background: #060b11
*foreground: #d9e6f2

! --- standard colors ---

! black
*color0: #000000

! bright_black
*color8: #303030

! red
*color1: #971b25

! bright_red
*color9: #e56d77

! green
*color2: #25971b

! bright_green
*color10: #77e56d

! yellow
*color3: #978c1b

! bright_yellow
*color11: #e5db6d

! blue
*color4: #1b2597

! bright_blue
*color12: #6d77e5

! magenta
*color5: #8c1b97

! bright_magenta
*color13: #db6de5

! cyan
*color6: #1b978c

! bright_cyan
*color14: #6de5db

! white
*color7: #cdcdcd

! bright_white
*color15: #ffffff

xterm*termName: xterm-color 
XTerm*locale: true
XTerm*metaSendsEscape: true
xterm*faceName: Liberation Mono
xterm*faceSize: 13

Rxvt*scrollBar: false
Xcursor.size: 30 
