*background: #202020
*foreground: #dcdccc
*cursorColor: #aaaaaa
*colorUL: #366060
*underlineColor: #dfaf8f

*color0: #000000
*color8: #5f5f5f

*color1: #c99090
*color9: #d9a0a0

*color2: #7d9d7d
*color10: #b0f8b0

*color3: #cdbd8d
*color11: #edddad

*color4: #699da0
*color12: #89cdd0

*color5: #d989c0
*color13: #d989c0

*color6: #90dde0
*color14: #90dde0

*color7: #d9d9c9
*color15: #eeeeee

xterm*termName: xterm-color 
XTerm*locale: true
XTerm*metaSendsEscape: true
xterm*faceName: Liberation Mono
xterm*faceSize: 13

Rxvt*scrollBar: false
Xcursor.size: 30 
